{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="posts" style="width: 100%; overflow: hidden;">
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' post.username %}">{{ post.username }}</a>
                    <small class="text-muted">{{ post.dt_posted }}</small>
                </div>
                <div id="post-content-{{ post.id }}">
                    <p id="edit" class="article-content">{{ post.content }}</p> 
                </div>
                <form action="{% url 'like_post' post.id %}" method="POST" class='like-form' id="{{ post.id }}">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-info like-btn-{{ post.id }}">
                        {% if request.user in post.likes.all %}
                            unlike
                        {% else %}
                            like
                        {% endif %}
                    </button>
                    <div class="like-count-{{ post.id }}">{{ post.total_likes }}</div> likes
                  </form>
            </div>
        </article>
    {% endfor %}
</div>  

{% endblock %}