{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% if user.is_authenticated %}
<div class="post-form">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post">
    </form>
</div>
{% endif %}

<br>

    <div id="posts" style="width: 100%; overflow: hidden;">
        {% for post in post_list %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a href="{% url 'profile' post.username.id %}" class="roomListRoom__author">
                            <div class="avatar avatar--small">
                                <img src="{{ post.username.profile.picture.url }}">
                            </div>
                            <span>@{{ post.username }}</span>
                        </a>
                        <small class="text-muted">{{ post.dt_posted }}</small>
                    </div>
                    <div class="postList_content" id="post-content-{{ post.id }}">
                        <p id="edit" class="article-content">{{ post.content }}</p> 
                    </div>
                    <div class="postList_likes">
                                {% if user.is_authenticated %}
                                <div class="like-sect">

                                    <form action="{% url 'like_post' post.id %}" method="POST" class='like-form' id="{{ post.id }}">
                                        {% csrf_token %}
                                        <button type="submit" name="post_id" value="{{ post.id }}" class=" like-form-btn like-btn-{{ post.id }}">
                                            {% if request.user in post.likes.all %}
                                                <i class="fa fa-solid fa-heart"></i> 
                                            {% else %}
                                                <i class="far fa-regualr fa-heart"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <div class="like-count-{{ post.id }} ml-1 mr-1">{{ post.total_likes }}</div> 
                                    <p>likes</p>
                                </div>
                            {% else %}
                            <div class="like-sect">
                                <a class="like-btn-{{ post.id }}" href="{% url 'login' %}"><i class="far fa-regular fa-heart"></i></a>
                                <div class="like-count-{{ post.id }} ml-1 mr-1"">{{ post.total_likes }} likes</div> 
                            </div>
                            {% endif %}
                    </div>
                    {% if post.username ==  request.user %}
                        <a id="editBtn" class="edit_Button"  data-post_id="{{ post.id }}" href="#">Edit</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>  

    <nav aria-label="Page navigation example">
     <div class="pagination">
        <ul class=" container justify-content-center">
            {% if post_list.has_previous %}
                <li class="page-item"><a class="btn btn--sub page-link" href="?page=1">&laquo; First</a></li> 
                <li class="page-item"><a class="btn btn--sub page-link" href="?page={{ post_list.previous_page_number }}">Previous</a></li> 
            {% endif %}
            <!--<li class="page-item disabled"><a class="page-link" href="#">Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}</a></li> -->
            {% for i in nums %}
                <li class="page-item"><a class="btn btn--sub page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li> 
            {% endfor %}
            {% if post_list.has_next%}
                <li class="page-item"><a class=" btn btn--sub page-link" href="?page={{ post_list.next_page_number }}">Next</a></li> 
                <li class="page-item"><a class="btn btn--sub page-link" href="?page={{ post_list.paginator.num_pages }}"> Last &raquo;</a></li> 
            {% endif %}

         </ul>
     </div>
    </nav>
{% endblock %}

